@import "/home/ajani/Hypr/colors/colors-ewwbar.scss";


.bar {
  font-family: "JetBrains Mono Nerd Font", Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: transparent;
  padding: 2px 0px;
  background-color: $background;
}

.battery,
.workspaces,
.active-window,
.systray,
.clock,
.power {
  // padding: 0px 10px;
  margin-right: 10px;
  // border-radius: 10px;
  // border: 2px solid darken($color4, 10%);
}

.panel-button {
  margin-right: 20px;
  // min-width: 30px;
}

.active-window-icon {
  color: $color4;
}

.active-window {
  //border: 2px solid darken($color4, 40%);
  padding-right: 40px;
}

.active-window-text {
  min-width: 250px;
  font-weight: bold;
  color: darken($color4, 10%);
}


.battery {
  transition-property: all;
  transition-duration: 0.5s;
}

.battery-icon {
  margin-right: 10px;
}

.battery-full {
  color: #a6e3a1;
  /* Green */
}

.battery-charging {
  color: #94e2d5;
  /* Teal */
}

.battery-discharging {
  color: #f9e2af;
  /* Yellow */
}

.battery-low {
  color: #f38ba8;
  /* Red */
}

.battery-not-charging {
  color: #cba6f7;
  /* Lavender */
}





.systray {
  min-width: 40px;
}

.power {

  .power-reboot,
  .power-off,
  .power-exit {
    margin: 0 10px;
  }
}

.start-menu {
  font-size: 18px;
  margin: 0 20px;
}

.workspaces {
  padding: 8px;
}

.clock {
  font-weight: bold;
}



.workspace,
.workspace-active {
  margin: 0px 2px;
  border-radius: 20px;
  color: $color4;

  transition-property: all;
  transition-duration: 0.2s;
}

.workspace {
  background-color: $color4;
  opacity: 0.5;
  min-width: 10px;
}

.workspace-active {
  background-color: $color4;
  min-width: 50px;
}
