* {
    background-image: none;
    font-size: 16px;
}

@import url("/home/ajani/.config/waybar/mocha.css");

window {
    background-color: transparent;
}

button {
    color: @text;
    background-color: @crust;
    border: none;
    outline: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24%;
    border-radius: 12px;
    box-shadow: none;

    transition:
        background-color 0.25s ease,
        border-radius 0.25s ease,
        background-size 0.25s ease;
}

button:focus {
    background-color: @mantle;
}

button:hover {
    background-color: @surface0;
    background-size: 30%;
    color: @base;
    border-radius: 20px;
    box-shadow: none;
}

/* Uniform hover margin and roundness */
button:hover#lock,
button:hover#logout,
button:hover#suspend,
button:hover#shutdown,
button:hover#hibernate,
button:hover#reboot {
    margin: 10px;
    border-radius: 20px;
}

/* Individual buttons with consistent dark color */
#lock {
    background-image: image(
        url("$HOME/.config/wlogout/icons/lock_white.png"),
        url("/usr/share/wlogout/icons/lock.png"),
        url("/usr/local/share/wlogout/icons/lock.png")
    );
    border-radius: 20px 0 0 20px;
    margin: 10px;
    background-color: @crust;
}

#logout {
    background-image: image(
        url("$HOME/.config/wlogout/icons/logout_white.png"),
        url("/usr/share/wlogout/icons/logout.png"),
        url("/usr/local/share/wlogout/icons/logout.png")
    );
    margin: 10px;
    background-color: @crust;
}

#suspend {
    background-image: image(
        url("$HOME/.config/wlogout/icons/suspend_white.png"),
        url("/usr/share/wlogout/icons/suspend.png"),
        url("/usr/local/share/wlogout/icons/suspend.png")
    );
    margin: 10px;
    background-color: @crust;
}

#shutdown {
    background-image: image(
        url("$HOME/.config/wlogout/icons/shutdown_white.png"),
        url("/usr/share/wlogout/icons/shutdown.png"),
        url("/usr/local/share/wlogout/icons/shutdown.png")
    );
    margin: 10px;
    background-color: @crust;
}

#hibernate {
    background-image: image(
        url("$HOME/.config/wlogout/icons/hibernate_white.png"),
        url("/usr/share/wlogout/icons/hibernate.png"),
        url("/usr/local/share/wlogout/icons/hibernate.png")
    );
    margin: 10px;
    background-color: @crust;
}

#reboot {
    background-image: image(
        url("$HOME/.config/wlogout/icons/reboot_white.png"),
        url("/usr/share/wlogout/icons/reboot.png"),
        url("/usr/local/share/wlogout/icons/reboot.png")
    );
    border-radius: 0 20px 20px 0;
    margin: 10px;
    background-color: @crust;
}

