@import "/home/ajani/Hypr/colors/colors-ewwbar.scss";


.panel {
  font-family: "JetBrains Mono Nerd Font", Arial, Helvetica, sans-serif;
  background-color: $background;
  border: 2px solid darken($color4, 10%);
  border-radius: 20px;
  padding: 20px;
}

.datetime {
  font-family: "System-ui";
  margin-bottom: 10px;

  .date {
    font-style: italic;
    color: $color4;
  }

  .time {
    color: lighten($color4, 10%);
    font-weight: bold;
    font-size: 40px;
  }
}


.calendar {
  background-color: $background;
  color: $color4;
  border-radius: 10px;
  border: 2px solid darken($color4, 20%);
  margin: 0 5px;
}


.calendar:selected {
  background-color: $color4;
  color: darken($color4, 60%);
}

.sliders,
.togglers {
  background-color: $background;
  color: $color4;
  border-radius: 10px;
  border: 2px solid darken($color4, 20%);
  margin: 0 5px;
  padding: 10px;
}

.togglers {
  border: none;
  padding-top: 0px;
}

.toggle-notification,
.toggle-sound,
.toggle-bluetooth,
.toggle-wifi {
  background-color: $background;
  color: $color4;
  border-radius: 10px;
  border: 2px solid darken($color4, 20%);
  margin: 5px;
  padding: 5px 10px;

  .icon {
    font-size: 25px;
    margin-right: 5px;
  }
}

.wallpaper,
.nightmode {
  background-color: $background;
  color: $color4;
  border-radius: 10px;
  border: 2px solid darken($color4, 20%);
  margin: 5px;
  margin-top: 10px;
  padding: 10px;
  min-width: 108px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.nightmode-active {
  background-color: $color4;
  color: $background;
}

.volume-icon,
.brightness-icon {
  font-size: 25px;
  padding-right: 6px;
}

.volume,
.brightness {

  scale trough {
    all: unset;
    background-color: darken($color4, 20%);
    min-width: 20px;
    min-height: 160px;
    border-radius: 10px;
  }

  scale trough highlight {
    all: unset;
    background-color: $color4;
    border-radius: 10px;

  }
}

.metrics {
  background-color: $background;
  color: $color4;
  border-radius: 10px;
  border: 2px solid darken($color4, 20%);
  margin: 0px 5px;
  margin-top: 20px;
}

.ram,
.cpu,
.disk {
  margin: 10px;
}

.ram .circular-progress {
  background-color: darken($color4, 20%);
  color: $color4;
}

.cpu .circular-progress {
  background-color: darken($color4, 20%);
  color: $color4;
}

.disk .circular-progress {
  background-color: darken($color4, 20%);
  color: $color4;
}


.progress>trough {
  all: unset;
  background-color: darken($color4, 20%);
  min-width: 150px;
  min-height: 10px;
}


.temp {
  background-color: $background;
  color: $color4;
  font-weight: bold;
  margin: 0 5px;
  padding: 10px;

  .icon {
    font-size: 40px;
    margin-right: 10px;
    color: darken($color4, 10%);
  }
}
